/* CSS for mobi */
sup {
font-size:8px!important;
}
.blockquote {
font-size:10px;
}
.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 {
  text-align: center;
}